<div class="container">
  <ng-template #tipContent>
    Date Filter & Quick Filters features have been disabled in this demo site,
    the UI is active just for showcase, please use the pre-populated data in the
    table below
  </ng-template>
  <div
    class="row disabled mb-5"
    placement="bottom"
    [ngbTooltip]="tipContent"
    tooltipClass="toolTip"
  >
    <div class="row align-items-center">
      <div class="col-md-auto">
        <label style="font-weight: bolder">Filter by Show Time: </label>
      </div>
      <div class="col-md-auto">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="
                    btn btn-outline-secondary
                    calendar
                    fa fa-calendar fa-2x
                  "
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-auto">
        <label> From: </label>
      </div>
      <div class="col-md-auto">
        <ngb-timepicker [(ngModel)]="timeFrom"></ngb-timepicker>
      </div>
      <div class="col-md-auto">
        <label> To: </label>
      </div>
      <div class="col-md-auto">
        <ngb-timepicker [(ngModel)]="timeTo"></ngb-timepicker>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-secondary btn-block" disabled>
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <hr />
    <div class="row pb-4">
      <div class="col-md-auto pt-2">
        <label style="font-weight: bolder"> Quick Filters: </label>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary btn-block" disabled>
          Last 10 Minutes &raquo;
        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary btn-block" disabled>
          Last 30 Minutes &raquo;
        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-secondary btn-block" disabled>
          Last 1 Hour &raquo;
        </button>
      </div>
      <div class="col-md-2 pt-2">
        <label>
          <input
            type="checkbox"
            aria-label="Radio button for following text input"
            disbaled
          />
          Hide Sent</label
        >
      </div>
    </div>
  </div>
  <div
    class="selectHints alert alert-warning"
    role="alert"
    *ngIf="!selectedMedia.length && !isThereAFirebaseError"
  >
    <h4 class="alert-heading">
      Start by selecting one or more files from the table below.
    </h4>

    <hr />
    <span class="text-muted"
      >You can also search by Phone No. or Sort the headers.</span
    >
  </div>
  <div
    class="selectHints alert alert-danger"
    role="alert"
    *ngIf="isThereAFirebaseError"
  >
    <h4 class="alert-heading">
      Sorry, an unexpected error has occured trying to fetch data.
    </h4>

    <hr />
    <span class="text-muted">We will be right back.</span>
  </div>
  <form>
    <div class="form-group form-inline">
      Phone Number Search:
      <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="filename" (sort)="onSort($event)">
          Filename
        </th>
        <th scope="col" sortable="addedDate" (sort)="onSort($event)">
          Added Date
        </th>
        <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
        <th scope="col" sortable="sentTo" (sort)="onSort($event)">Sent To</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoading">
      <tr
        class="tableRow"
        *ngFor="let file of displayList"
        (click)="onEdit(file)"
        [ngClass]="{
          'alert alert-success rounded shadow': selectedMedia.includes(file)
        }"
      >
        <th>
          <video
            [src]="file.vidUrl | async"
            width="175"
            height="100"
            autoplay
            muted
            controls
          ></video>
        </th>
        <td>
          {{ file.addedDate | date }}
        </td>
        <td>{{ file.status }}</td>
        <td>{{ file.sentTo | hidePhoneNo }}</td>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="isLoading && !isThereAFirebaseError"
    class="d-flex justify-content-center"
  >
    <div class="spinner-border text-success spinner-border-bg" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <hr class="my-4" />

  <form [formGroup]="form" (ngSubmit)="onSubmit()" disbaled>
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <div
            class="selectHints alert alert-warning"
            role="alert"
            *ngIf="
              name.pristine &&
              name.untouched &&
              phone.pristine &&
              phone.untouched &&
              selectedMedia.length
            "
          >
            <h4 class="alert-heading">
              Next enter you full name and Phone number below.
            </h4>
          </div>
          <label for="name-input">Name:</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="name-input"
          />
          <label for="phone-input" class="pt-3"
            >Mobile Number:
            <small class="form-text text-muted"
              >The Whatsapp number on which you want to receive your AR
              videos</small
            ></label
          >
          <div class="input-group mb-3">
            <small
              class="input-group-text text-muted"
              placement="top"
              ngbTooltip="Only Indian Numbers"
              >+91</small
            >
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              id="phone-input"
            />
          </div>
        </div>
        <div class="row">
          <p class="text-muted mt-2">
            Number of file selected: {{ selectedMedia.length }}
          </p>
        </div>
      </div>
      <div class="col-2">
        <figure class="figure">
          <a
            href="https://signupforservices.com/whatsapp/optin/?bId=a15ca830-4d02-4ffb-974f-528b541209a2&bName=GRSAVS&s=URL&lang=en_US"
            target="__blank"
            ><img
              src="assets/images/QR.png"
              style="height: auto; width: 100%"
              class="d-inline-block align-top"
              alt="https://signupforservices.com/whatsapp/optin/?bId=a15ca830-4d02-4ffb-974f-528b541209a2&bName=GRSAVS&s=URL&lang=en_US"
              ngbTooltip="This would also be placed on the payment booth, entry/exit points of the premises, as well as on the main website"
              placement="left"
          /></a>

          <figcaption class="figure-caption pl-4">Scan QR Code</figcaption>
        </figure>
      </div>
    </div>
    <div class="row" id="DisplayErrors">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="name.errors?.required && (name.dirty || name.touched)"
      >
        Name is required.
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="phone.errors?.required && (phone.dirty || phone.touched)"
      >
        Phone number is required.
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          (phone.errors?.minlength || phone.errors?.maxlength) &&
          (phone.dirty || phone.touched)
        "
      >
        Phone number should be 10 digits.
      </div>
      <div
        class="selectHints alert alert-danger"
        role="alert"
        *ngIf="
          !selectedMedia.length &&
          (phone.dirty || phone.touched) &&
          (name.dirty || name.touched)
        "
      >
        Please select atleast one file to process.
      </div>
      <div
        class="selectHints alert alert-success"
        role="alert"
        *ngIf="successPrompt"
      >
        <h4 class="alert-heading">
          Just one last step, scan the QR code and follow the link to receive
          your videos.
        </h4>
        <hr />
        Your request has been submitted and is getting processed asynchronously.
        The table gets updated dynamically, now the status is 'to be sent' once
        you opt-in the status will automatically change to 'Sent'.
        <button
          type="button"
          class="btn btn-link"
          style="float: right"
          (click)="successPrompt = false"
        >
          Close
        </button>
        <span></span>
      </div>
    </div>
    <div class="row">
      <div class="col d-grid gap-2">
        <button
          type="submit"
          class="btn btn-success btn-block"
          [disabled]="form.invalid || !selectedMedia.length"
        >
          Process
        </button>
      </div>
      <div class="col d-grid gap-2">
        <button type="reset" class="btn btn-secondary btn-block">Reset</button>
      </div>
    </div>
  </form>

  <hr class="my-4" />
</div>
